
/**/
.ad-one .flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100vh;
}




.adone-slogan{
    flex: 1 1 50%;
    align-self: flex-end;
    height: 100%; /*المستطيل الاحمر ياخد من الطول دا نسبة*/
}
.red-rect-above,
.adone-slogan .red-rect{
    width: 92%;
    background-color: rgb(216, 9, 9);
}
.red-rect-above{
    height: 20%;
}
.adone-slogan .red-rect{
    margin-top: 7%;
    margin-bottom: 7%;
    height: 25%;
}


.personal-portrait{
    flex: 1 0 50%;
    align-self: center;

    height: 75%;
    text-align: left;

    position: relative;/*بيتحرك عليه جدار الطوب*/
}


.personal-portrait img{
    width: 85%;
    height: 85%;

    transition: transform 0.7s;
}


.wall-break{
    width: 200px;
    height: 470px;

    position: absolute;
    left: 0%;
    top: 4%;

    z-index: -1;

    transform: translateX(80px);
}
.personal-portrait img:hover{
    transform: translateX(-140px) ;
}
.wall-break img{
    width: 80%;
    height: 65%;
}