.ad-two.advertising-Section{
    /*هناك العديد من الخصائص لهذا العنصر المشترك*/
    background-color: rgb(216, 9, 9);
    background-size: cover;
    background-repeat: no-repeat;
}
.ad-two .hero-flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
      /*االبةرتريه الممطبق عليه الايفيكت بيتحرك بالنسبة للاب دا*/
    
}
.ad-two .slogan{
    flex: 1 2 300px;
    width: 40%;
    color: #ffffff;
}
.ad-two .slogan .main-word,
.ad-two .slogan .describtion{
    color: #fff;
}

.hero-impression.flex-item{
    flex: 1 1 300px;
    width: 40%;

    border: solid white 2px;
    border-right: none;
}

.hero-impression .backgrounded{
    position: relative;
    width: 99.8%;
}

.portrait-pre,
.portrait{
   

    width: 202px;
    height: 240px;

    padding: 10px;
}
.portrait-pre{
    position: absolute;
    /*هنا هيتغير مع تغيير الصورة لصور أفضل TEMP*/
    top: 185px;
    left: 230px;
}
.portrait{
    position: absolute;
    top: -5%;
    left: 2%;

    /* top: 170px;
    left: 235px; */
}
.portrait-pre >img{
    width: 95%;
    height: 90%;
    
    padding: 1px 1.5px;
    transform: rotate(6deg);
}




/* .portrait-pre{
    width: 210px;
    height: 250px; عملت هوامش عشان اعرف اعمل هوفر عليها
    z-index: 1;
}

.portrait{
    visibility: hidden;
    opacity: 0;
    z-index: -2;
}
.portrait-pre:hover .portrait{
    visibility: visible;
    opacity: 1;
    z-index: 2;
} */




.portrait img{
    width: 100%;
    height: 107%;
}

/* .effected{
    visibility: hidden;
    opacity: 0;
} */

/* .portrait-pre img:hover .effected{
    visibility: visible;
    opacity: 1;

    z-index: 10;
}
.portrait-pre img:hover .portrait-pre{
    visibility: hidden;
    opacity: 0;

    z-index: -1;
} */