*{
    box-sizing: border-box;
}
/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */
body{
    font-family: 'Harmattan', sans-serif;
}
.container{
    width: 70%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
